<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabes Website</title>
    <link rel = "stylesheet" href="/ghockindesign/static/styles/style.css">
</head>
<body>
	<header>
		<h1>Gabes Website</h1>
		<button id="homeButton">Home</button>
		<button id="projectsButton">Projects</button>
	</header>
	<div class="content">
		<h2>Books into games</h2>
		<h3>The idea here is to really understand the books I read and keep relating back to the book in order to make content for the game.</h3>
		<h4>Have a look through, what should I read next?</h4>
		<ul>
			<li>Odysseus</li>
			<li>Jack Reacher</li>
			<li>Lord Of The Rings: The Fellowship of the ring</li>
		</ul>
	</div>
	<script src="/ghockindesign/static/app.js"></script>
</body>
</html>